<div class="navbar-wagon">
    <a href="/cocktails" class="navbar-wagon-brand">
    <img src="https://i.pinimg.com/originals/8c/b1/8e/8cb18eaaaa3c720618d5a0d8359d81e8.gif" alt="logo">
  </a>
  </a>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <p><%= link_to "Add cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %></p>
  </div>
</div>

