<div class="container" id="home-pics">
  <div class="row">
    <% @cocktails.each do |c| %>

      <%= link_to cocktail_path(c), :action => 'go' do %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path c.photo, height: 800, width: 600, crop: :fill %>');">
          <div class="card-category"><%= c.name %></div>
          <div class="card-description">
          <h3><%= c.name %></h3>
          </div>

        </div>
          <div class="my-card-footer">

          </div>
      </div>
      <% end %>

    <% end %>
  </div>
</div>


