/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: #ff000096;
  border: none;
  background: $gray;
}
.alert-info {
  background: $green;
}
.alert-danger {
  background: $gray;
}

.invalid-feedback {
  color: #ff000096;
}


