.form-control-label {
  color: #ffffffbd;
  font-family: Raleway;
  font-weight: normal;
}

.form-control {
  font-family: Raleway;
  font-weight: normal;
}

.btn {
  margin-top: 20px;
  box-shadow: 0.8px 0.8px 4px #E6E6E6;
  font-family: Raleway;
  font-weight: bold;
}

.btn:hover {
  background-color: #ffffffeb;
}
